/* ----------- iPhone 4 and 4S ----------- */
/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {
  .pc-hide {
    display: block;
  }
}
/* ----------- iPhone 5 and 5S ----------- */

/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px) {
  .navbar {
    padding: 10px 30px;
  }

  .navbar .navbar-nav li a {
    /*color: #000;*/
    margin-top: 0;
    text-decoration: underline;
  }

  .fixed-header .navbar-nav .dropdown > a, .fixed-header .navbar-nav > li > a {
    font-size: 18px;
    text-decoration: none;
    border-top: 1px solid #EEE;
    width: 95%;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    text-decoration: none;
    font-size: 16px;
    color: #565656;
  }

  .fixed-header a.navbar-brand {
    padding: 0px 0px;
  }

  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border: none;
  }

  .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    height: 100%;
    max-height: 100%;
  }

  a.navbar-brand img {
    width: 210px;
  }

  .navbar-inverse .navbar-toggle {
    border-color: #FFF;
  }

  .navbar-toggle {
    margin-top: 25px;
    margin-right: 5px;
  }

  .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background: none;
  }

  .fixed-header .navbar-toggle {
    margin-top: 8px;
    margin-right: 0px;
    border-color: none;
  }

  .fixed-header .navbar-toggle .icon-bar {
    background-color: #252525;
  }

  .section {
    padding: 10px 0px
  }

  .slides {
    margin-top: 60px;
  }

  .carousel-caption p {
    width: 100%;
    height: 290px;
  }

  #how-to-order h2 {
    font-size: 32px;
    line-height: 48px;
    padding: 0px 5px;
    text-shadow: 1px 1px #898;
  }

  h1.section-title p {
    background: none;
    width: 100%;
    background: url('../images/title-bg1.png') no-repeat center 30px
  }

  #how-to-order h2 p small {
    font-weight: 300;
    line-height: 24px
  }

  h1.section-title {
    margin-top: 30px;
    line-height: 48px;
  }

  .our-quote {
    padding: 30px 5px 0px;
  }

  .green-juice, .red-juice, .orange-juice, .yellow-juice, .purple-juice {
    margin: 0 auto;
  }

  .our-quote .quote-text p:first-child {
    text-indent: 40px;
    padding-top: 8px;
  }

  .juice-section,
  .section-desc,
  .juice-section .juice-color,
  .juice-section .juice-desc {
    padding: 10px 5px;
  }

  .juice-section .left .juice-color,
  .juice-section .left .juice-desc {
    text-align: left;
  }

  #our-story {
    margin-top: 60px;
  }

  #how-juices-made, #read-our-story, #start-healthier {
    width: 100%;
    margin: 20px 0 15px;
  }

  #read-our-story {
    font-size: 13px;
  }

  .processes-icons span {
    display: none;
  }

  #subscription div.packages {
    margin: 15px 0px;
  }

  .am-expanded.am-modal {
    width: 100%;
    left: 0;
    top: 0;
  }

  .our-story-modal .am-modal-content {
    padding: 0;
  }
  #home-featured {
    width: 100%;
    padding-top: 465px;
    margin: 3px 0 0px;
    background: url(/images/home/home-05-jc-mobile.jpg) #F4F4F6 no-repeat;
    background-size: 100%;
  }

  .founder-full {
    width: 100%;
    height: 360px;
    background: url('../images/huyen-truejuice.jpg') no-repeat -50px -180px;
    margin: 20px auto 30px;
  }

  .process-step {
    margin: 0;
  }

  .process-step .desc-right,
  .process-step .desc-left {
    text-align: left;
    padding: 10px 15px 20px;
  }

  #subscription ul.nav {
    width: 100%;
  }

  #peopleLoveUs {
    width: 100%;
    margin-top: 0;
  }

  #loader-wrapper {
    background: url(../../images/mobile_preload.jpg) #FFF no-repeat center center;
    background-size: 100% auto;
  }

  #loader-wrapper .loader-section.section-left {
    background: none;
  }

  #loader {
    top: 30%;
  }

  #loader-wrapper .loader-section.section-right {
    background: none;
  }

  #progressbar {
    width: 100%;
    margin: 80px 0 25px;
    padding: 0;
  }

  .subscription-modal .am-wrapper {
    width: 100%;
  }

  .choose-pack .nav li:first-child {
    margin-right: 5px;
  }

  .choose-a-pack {
    margin-bottom: 5px;
  }

  .purchase-steps .radio-inline {
    display: block;
    margin: 0 5px;
  }

  #how-juices-made {
    font-size: 16px;
  }

  .registered-account {
    width: 100%;
    margin: 5px 0;
    padding: 5px 10px;
  }

  .bank-list {
    padding: 5px 8px;
  }

  .story-wrap {
    background: url(../images/our-story-bg.png) no-repeat 0px 110px;
    background-size: cover;
  }

  .green-juice .juice-bg {
    background: url('../images/mobile/green-juice.jpg') no-repeat center center;
    background-size: cover;
  }

  .red-juice .juice-bg {
    background: url('../images/mobile/red-juice.jpg') no-repeat center center;
    background-size: cover;
  }

  .yellow-juice .juice-bg {
    background: url('../images/mobile/yellow-juice.jpg') no-repeat center center;
    background-size: cover;
  }

  .orange-juice .juice-bg {
    background: url('../images/mobile/orange-juice.jpg') no-repeat center center;
    background-size: cover;
  }

  .purple-juice .juice-bg {
    background: url('../images/mobile/purple-juice.jpg') no-repeat center center;
    background-size: cover;
  }

  .slides li span {
    background-size: auto 100%;
    background-repeat: no-repeat;
  }

  .slides li:nth-child(1) span {
    background-image: url(../images/mobile/bg-1.jpg)
  }

  .slides li:nth-child(2) span {
    background-image: url(../images/mobile/bg-2.jpg);
  }

  .slides li:nth-child(3) span {
    background-image: url(../images/mobile/bg-3.jpg);
  }

  .slides li:nth-child(4) span {
    background-image: url(../images/mobile/bg-4.jpg);
  }

  .slides li:nth-child(5) span {
    background-image: url(../images/mobile/bg-5.jpg);
  }

  .slides li:nth-child(6) span {
    background-image: url(../images/mobile/bg-6.jpg);
  }

  .jc-slides li:nth-child(1) span {
    background-image: url(../images/mobile/jc-slide-1.jpg);
    background-repeat: no-repeat;
  }

  .jc-slides li:nth-child(2) span {
    background-image: url(../images/mobile/jc-slide-2.jpg);
    background-repeat: no-repeat;
  }

  #main-slider .slide-photos {
    height: 568px;
    width: 100%;
    background-size: 100% auto;
    position: relative;
    cursor: move;
  }

  #slide-1 {
    background: url('../images/home/mobile-slides-1.jpg') no-repeat center center;
  }

  #slide-2 {
    background: url('../images/home/mobile-slides-2.jpg') no-repeat center center;
  }

  #slide-3 {
    background: url('../images/home/mobile-slides-3.jpg') no-repeat center center;
  }

  #main-slider .slide-photos a.reg-2,
  #main-slider .slide-photos a.reg-3,
  #main-slider .slide-photos a {
    top: 90%;
    right: 50%;
    transform: translate(50%, 0%);
    border: #3C4E40 2px solid;
    color: #3C4E40;
    padding: 10px 35px;
    border-radius: 5px;
    font-size: 16px;
  }

  .carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left {
    font-size: 28px;
    margin-left: -20px;
  }

  .carousel-control .icon-next, .carousel-control .glyphicon-chevron-right {
    font-size: 28px;
    margin-right: -20px;
  }

  .menu .menu-block,
  .faqs .faqs-questions {
    width: 100%;
    margin: -50px auto 50px;
  }

  .faqs .faqs-questions .panel-heading {
    padding: 8px 0px;
  }

  #cfacebook {
    right: 50% !important;
    transform: translateX(50%);
    color: #FFF;
  }

  .menu .menu-bg {
    background-size: 100% auto !important;
    background: url('../images/mobile/bg-menu.jpg') no-repeat;
  }

  #menu-item .weekday {
    padding: 20px 15px;
  }

  #menu-item .weekday .title,
  #menu-item .weekday .juice-today {
    width: 100%;
    display: block;
    min-height: auto;
  }

  .jc-packs .photo-jc,
  .text-jc {
    width: 100%;
    margin-top: 15px;
  }

  .jc-packs .photo-jc {
    min-height: 275px;
  }

  .text-jc {
    padding: 10px;
    text-align: center;
  }

  .sub-header {
    margin-top: 0px;
  }
  .jc-program {
    text-align: center;
  }

  .jc-program-desc {
    font-weight: 400;
    text-align: center;
  }

  .p1 {
    background: url('../images/mobile/jc-p1.jpg') no-repeat;
    background-size: 100% auto;
    margin-bottom: 40px;
  }

  .pa-1 {
    width: 100%;
    margin: 0 auto;
    min-height: 700px;
  }

  .pa-1 .no-criteria {
    width: 100%;
    margin: 10px auto 20px;
    text-align: center;
  }

  .pa-1 .no-criteria img {
    margin: 0 auto
  }

  .text-criteria {
    text-align: center;
  }

  .pa-1 p {
    text-align: center;
    text-shadow: 0px 0px 0px #000;
  }

  .jc-program .col-xs-12 {
    padding-left: 0;
    padding-right: 0;
  }

  .jc-program-desc h1 {
    font-size: 28px;
  }
  .jc-pack-info {
    width: 70%;
    text-align: center;
    margin: 0 auto;
  }
  .pa-1 .footer-text {
    max-width: 70%;
    margin: 0 auto;
  }
  .jc-register .programs-input {
    font-size: 13px;
  }
  .timeline {
    width: 100%;
    margin: 0
  }
  .timeline .column {
    padding: 20px;
    margin: 0px;
  }
  .timeline .column .title h1 {
    font-size: 80px;
  }
  .timeline ul.nav-stacked li a {
    text-align: center;
  }
  .timeline ul.nav-stacked {
    padding-top: 15px;
  }
  .timeline .column .title h2 {
    margin-top: -45px;
    font-size: 24px;
  }
  .membership-header {
    margin-top: 30px;
    background-size: 100% auto;
    height: 285px;
  }
  .slider {
    width: 100%;
  }
  .customer-review {
    width: 100% !important;
  }
  .customer-review [class*=' col-'] {
    /*padding: 0;*/
  }
  .customer-review iframe {
    width: 100%;
  }
  .stop-plastic-info {
    margin-top: 70px;
    background: url('../images/stop-plastic/stop-plastic-info-mobile.jpg') no-repeat;
    background-size: 100% auto;
    min-height: 575px;
    background-color: #F9F7EA;
  }

  ul.p5r li {
    margin-top: 15px;
    width: 33%;
    float: left;
    padding: 0 8px;
    font-size: 13px;
  }

  .stop-plastic-message h4 {
    font-size: 16px;
    line-height: 28px;
  }

  .stop-nylon-info {
    margin-top: 70px;
    background: url('../images/stop-plastic/stop-plastic-info-mobile.jpg') no-repeat;
    background-size: 100% auto;
    min-height: 530px;
    background-color: #F9F7EA;
  }
  .no-nylon-third .head {
    font-size: 18px;
    line-height: 27px;
  }
  /*2019 edit*/
  #call-to-action .block {
    width: 100%;
  }

  #juice-programs ul {
    margin: 70px 0 0 0;
    padding: 0;
  }

  #juice-programs ul .program-wrap {
    min-height: 455px;
  }
  
  .slick-next {
    right: 0;
  }

  .slick-prev {
    left: -5px;
  }

  .story-quote p.author-quote {
    text-align: justify;
  }

  .people-love-juice-wrap {
    margin-top: 10px;
  }

  #community .community-block ul {
    padding: 4px;
    margin: 0;
  }

  #community .community-block ul li {
    width: 50%;
    padding: 5px 0px;
    text-align: center;
  }

  #community .community-block ul li a {
    width: 130px;
    height: 130px;
  }

  #our-story .our-story-bg {
    margin: 30px 0;
    padding: 45px 15px;
  }

  #our-story .our-story-bg .our-people {
    display: none;
  }

  #our-story .our-story-bg .text-block {
    padding: 0 10px;
  }

  #our-story .our-story-bg .button {
    width: 100%;
  }

  .mobile-our-story-photo {
    display: block;
  }
  h2 {
    font-size: 32px;
    line-height: 48px;
  }
  #onmedia a div.media_logo {
    width: 80px;
    height: 40px;
  }
  .mobile-our-story-photo {
    width: 250px;
    max-width: 100%;
  }
  #subscription div.packages div.sub-wrap {
    margin-bottom: 20px;
  }
  #juice-programs .heading {
    padding: 3px 15px;
  }
  .heading h4 {
    line-height: 150%;
  }
  #green-juice .green-juice-slides, .juice-cleanse .juice-cleanse-slides, #juice-daily .juice-daily-slides {
    margin-top: 70px;
  }

  #green-juice .green-juice-slides .ps,
  .juice-cleanse .juice-cleanse-slides .ps,
  #juice-daily .juice-daily-slides .photo-1,
  #juice-daily .juice-daily-slides .photo-2,
  #juice-daily .juice-daily-slides .photo-3 {
    min-height: 515px;
  }

  #juice-daily .juice-daily-slides .photo-1 {
    background: url("/images/2019/juice-daily/mobile/1.jpg") no-repeat;
    background-size: cover;
  }

  #juice-daily .juice-daily-slides .photo-2 {
    background: url("/images/2019/juice-daily/mobile/2.jpg") no-repeat;
    background-size: cover;
  }

  #juice-daily .juice-daily-slides .photo-3 {
    background: url("/images/2019/juice-daily/mobile/3.jpg") no-repeat;
    background-size: cover;
  }

  .juice-cleanse .juice-cleanse-slides .photo-1 {
    background: url("/images/2019/juice-cleanse/mobile/1.jpg") no-repeat;
    background-size: cover;
  }

  .juice-cleanse .juice-cleanse-slides .photo-2 {
    background: url("/images/2019/juice-cleanse/mobile/2.jpg") no-repeat;
    background-size: cover;
  }

  #green-juice .green-juice-slides .photo-1 {
    background: url("/images/2019/green-juice/mobile/1.jpg") no-repeat;
    background-size: cover;
  }

  #green-juice .green-juice-slides .photo-2 {
    background: url("/images/2019/green-juice/mobile/2.jpg") no-repeat;
    background-size: cover;
  }

  .cleanse-head-question {
    padding-left: 0px;
  }

  .cleanse-head-question .q-block {
    width: 100%;
    font-size: 20px;
    text-align: left;
    margin-bottom: 15px;
  }

  .jc-packs .green-gr {
    margin: 0;
    padding: 0;
  }

  .jc-packs .photo-gr, .jc-packs .photo-jc {
    margin-top: 15px;
    min-height: 250px;
  }

  .jc-packs .green-gr .slick-slide {
    margin: 3px !important
  }

  .jc-program .header-light {
    text-align: center;
  }

  #brand-usp {
    padding: 50px 10px;
    margin: 5px;
    height: 280px;
    background-position: center;
  }

  .section-header .bg-wrap {
    width: 100%;
    margin: 0 auto;
  }
  .header-wrap.green,
  .header-wrap.celery,
  .header-wrap.cleanse,
  .header-wrap.daily {
    background-position: right;
    height: 320px;
    margin: 70px 0 270px;
  }
  .header-wrap.cleanse {
    background-position: 92%;
  }
  .header-content {
    width: 100%;
    top: 380px;
    left: 0;
    padding: 15px;
    text-align: center;
  }
  .header-content h1 {
    text-align: center;
    font-size: 32px;
    line-height: 140%;
    margin: 25px 0 15px;
  }
  .header-wrap p.product-feature {
    max-width: 280px;
    padding: 0 15px;
    margin: 5px auto;
  }
  .our-story-cover-1 {
    background-position: 80% top;
    height: 360px;
    padding: 320px 15px 0px;
    text-align: center;
  }
  .highlight-block-1 h3 {
    font-size: 22px;
  }
  .highlight-block-1 h1.bolder {
    font-size: 48px;
  }
  .highlight-block-1 h1.light {
    font-size: 24px;
  }
  .highlight-subject {
    font-size: 20px;
    line-height: 32px;
  }
  .photo-story-block {
    height: 685px;
  }
  .project-cover {
    height: 250px;
  }
  .story-photo-2 {
    background: url(/images/2020/our-story/story-cover-c2-mobile.jpg) no-repeat;
  }
  .story-photo-3 {
    background: url(/images/2020/our-story/story-cover-c3-mobile.jpg) no-repeat;
  }
  .story-photo-4 {
    background: url(/images/2020/our-story/story-cover-c4-mobile.jpg) no-repeat;
  }
  #our-story .stories {
    display: none;
  }
  .home-our-story-bg {
    margin: 30px 5px;
    text-align: center;
    padding: 35px;
  }
  .mobile-our-story-photo {
    height: 360px;
  }
    ul.try-truejuice-cta li {
      width: 100%;
      padding:10px;
  }
  .header-wrap.try-truejuice {
    height: 200px;
    background: url('/images/try-truejuice/try-truejuice-cover-mobile.jpg') no-repeat;
    background-size: cover;
    background-position: center;
  }
  .usp-area {
    background: none;
    height: 420px;
    font-size: 14px;
  }
  .usp-area .heading {
    width: 95%;
    top: 36px;
    left: 15px;
  }
  .usp-area-mobile {
    background: url('/images/home/usp-mobile-1.jpg') no-repeat;
    background-size: 100%;
    height: 320px;
    display: block;
    position: relative;
  }

  .usp-area .heading h2, 
  .heading h2.big {
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 18px;
  }
  .mobile-hide {
    display: none;
  }
  .usp-area-mobile .usp-mobile-text {
    position: absolute;
    top: 110px;
    right: 0px;
    width: 150px;
    font-size: 14px;
  }
  #call-to-action {
    background: #EFEFEF;
  }
  /**Green Juice Page**/
  .green-solution {
    height: 290px;
  }
  .solution-detail .bl-2 {
    background-position: -50px 0px;

  }
  #testimonials section {
    margin-bottom: 0px;
  }
  #green-juice .green-bl-4,
  #green-juice .green-bl-4-price {
    display: block;
    width: 100%;
    height: 415px;
  }
  #green-juice .green-bl-4-price {
    padding: 0px;
    border: 0px;
    height: auto;
  }
  #green-juice .green-bl-4-price a.button.large {
    width: 100%;
  }
  /**End Green Juice Page**/
  #gj-modal .modal-body, #jc-modal .modal-body {
    padding: 15px;
  }
  .testimonials-quote {
    padding: 0;
  }
  .testimonials-wrap {
    width: 100% !important;
  }
  .problems-txt {
    top: 20px;
    left: 0;
    width: 100%;
  }
  .green-problem {
    height: 520px;
    /*background: none;*/
    background-size: 180%;
    background-position: -130px 250px;
  }
  .solution-detail .bl-3 {
    background: url("/images/green-juice/mobile-bl-3.jpg") no-repeat;
    background-size: 100%;
  }
  .hiring-header {
    background: url("/images/hiring-mobile.jpg") no-repeat;
    background-size: contain;
  }
  .programs-list .program-item{
    width: 100%;
    padding: 15px 0px;
    float: left;
  }
}


/* ----------- iPhone 6 ----------- */

/* Portrait */
@media only screen
and (min-device-width: 360px)
and (max-device-width: 667px) {
  .navbar {
    padding: 15px 30px;
  }

  .slides {
    margin-top: 80px;
  }

  #main-slider .slide-photos a.reg-2,
  #main-slider .slide-photos a.reg-3,
  #main-slider .slide-photos a {
    top: 93%;
  }

  a.navbar-brand img {
    width: 230px;
    height: auto;
  }

  .fixed-header .navbar-brand img {
    height: auto;
  }

  .customer-review {
    left: 0% !important;
  }

  .stop-nylon-info,
  .stop-plastic-info {
    margin-top: 80px;
    min-height: 625px;
  }

  .stop-plastic-message h4 {
    font-size: 20px;
    line-height: 32px;
  }

  #juice-programs ul {
    margin: 80px 0 0 0;
  }

  #juice-programs ul .program-wrap {
    min-height: 525px;
    padding-top: 40px;
  }
  #juice-programs ul .program-wrap .title {
    font-size: 42px;
    font-weight: 800;
  }

  #community .community-block ul li a {
    width: 160px;
    height: 160px;
    margin: 0 auto;
  }

  #green-juice .green-juice-slides, .juice-cleanse .juice-cleanse-slides, #juice-daily .juice-daily-slides {
    margin-top: 80px;
  }

  #green-juice .green-juice-slides .ps,
  .juice-cleanse .juice-cleanse-slides .ps,
  #juice-daily .juice-daily-slides .photo-1,
  #juice-daily .juice-daily-slides .photo-2,
  #juice-daily .juice-daily-slides .photo-3 {
    min-height: 590px;
  }

  #call-to-action .block {
    padding: 135px 25px;
  }

  #brand-usp {
    padding: 60px 35px;
    height: 300px;
  }
  #home-featured {
      padding: 545px 0px 30px;
  }
  .header-wrap.green,
  .header-wrap.celery,
  .header-wrap.cleanse{
    margin-top: 80px;
  }
  .our-story-cover-1 {
    background-position: 85% top;
    height: 360px;
    padding: 320px 30px 0px;
    text-align: center;
  }
  .our-story-cover-1 p {
    text-align: left;
  }
  .project-cover {
    height: 325px;
  }
  .photo-story-block {
    height: 730px;
  }
  .mobile-our-story-photo {
    height: 400px;
  }
  .header-wrap.try-truejuice {
    height: 240px;
  }  
  .usp-area {
    font-size: 16px;
    height: 460px;
  }
  .usp-area .heading {
    top: 60px;
  }
  .usp-area-mobile {
    height: 420px;
  }
  .usp-area-mobile .usp-mobile-text {
    position: absolute;
    top: 150px;
    width: 170px;
    font-size: 15px;
  }
  #green-juice .green-bl-4 {
    height: 480px;
  }
  .green-problem {
    height: 580px;
    /*background: none;*/
    background-size: 180%;
    background-position: -200px 220px;
  }
  .solution-detail .bl-2 {
    background-position: 0 0;
  }
}

/* ----------- iPhone 6+ ----------- */

/* Portrait */
@media only screen
and (min-device-width: 400px)
and (max-device-width: 667px) {
  .navbar {
    padding: 20px 30px;
  }

  .navbar-toggle {
    margin-top: 30px;
  }

  a.navbar-brand img {
    width: 250px;
    height: auto;
  }

  .slides {
    margin-top: 90px;
  }

  #main-slider .slide-photos a.reg-2,
  #main-slider .slide-photos a.reg-3,
  #main-slider .slide-photos a {
    padding: 3px 35px;
    top: 95%;
    font-size: 15px
  }

  .fixed-header .navbar-brand img {
    height: auto;
  }

  .jc-slides .head-text {
    font-size: 36px;
  }

  .juice-cleanse .jc-slides {
    min-height: 675px;
  }

  .stop-nylon-info,
  .stop-plastic-info {
    margin-top: 90px;
    min-height: 720px;
  }

  .stop-plastic-message h4 {
    font-size: 24px;
    line-height: 32px;
  }

  #juice-programs ul {
    margin: 90px 0 0 0;
  }

  #juice-programs ul .program-wrap {
    min-height: 575px;
    padding-top: 55px;
  }

  #community .community-block ul li a {
    width: 175px;
    height: 175px;
  }

  #green-juice .green-juice-slides, .juice-cleanse .juice-cleanse-slides, #juice-daily .juice-daily-slides {
    margin-top: 90px;
  }

  #green-juice .green-juice-slides .ps,
  .juice-cleanse .juice-cleanse-slides .ps,
  #juice-daily .juice-daily-slides .photo-1,
  #juice-daily .juice-daily-slides .photo-2,
  #juice-daily .juice-daily-slides .photo-3 {
    min-height: 650px;
  }

  #brand-usp {
    padding: 40px;
    height: 250px;
  }
  #home-featured {
      padding: 600px 0px 30px;
  }
  .header-wrap.try-truejuice {
    height: 260px;
  }
  .usp-area-mobile .usp-mobile-text {
    position: absolute;
    top: 180px;
    right: 10px;
    width: 180px;
  }
  .usp-area-mobile .usp-mobile-text p {
    /*font-size: 14px;*/
    margin-bottom: 22px;
  }  
  .usp-area-mobile .usp-mobile-text p b {
    font-size: 16px;
  }
  #green-juice .green-bl-4 {
    height: 520px;
  }  
}

@media only screen
and (min-device-width: 480px)
and (max-device-width: 767px) {  
  .usp-area-mobile .usp-mobile-text {
    font-size: 16px;
    top: 220px;
    right: 35px;
  }
  
}
@media only screen
and (min-device-width: 500px)
and (max-device-width: 767px) {
  .usp-area {
    height: 675px;
    background-position: 27%;
  }
  .usp-area .heading {
    width: 300px;
  }
  .home-our-story-bg {
    padding: 20px 50px 0px;
  }
  #our-story .stories {
    width: 100%;
  }
  #programs .program-wrap {
    height: 715px;
  }
  #truejuice-usp .heading,
  #juice-programs .heading {
    padding: 10px 15px;
  }
  #community .heading h2,
  #people-love-juice .heading h2,
  #truejuice-usp .heading h2,
  #juice-programs .heading h2 {
    margin: 0px 30px;
    font-size: 36px;
  }
  #truejuice-usp .heading h4,
  #juice-programs .heading h4 {
    max-width: 80%;
    margin: 0px auto;
    line-height: 130%;
  }
  #programs .program-wrap .title {
    font-size: 32px;
    line-height: 130%;
  }
  #programs .program-wrap .desc {
    font-size: 18px;
    line-height: 130%;
  }
  #community .community-block ul {
    padding: 0px 30px;
  }
  #community .community-block ul li {
    width: 33%;
  }
  #community .community-block ul li a {width: 160px; height: 160px;}
  .navbar {padding: 10px 30px;}
  .navbar-inverse .navbar-toggle {
    border-color: #FFF;
  }
  .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background: none;
  }
  .fixed-header .navbar-toggle {
    margin-top: 8px;
    margin-right: 0px;
    border-color: none;
  }
  .fixed-header .navbar-toggle .icon-bar {
    background-color: #252525;
  }
  .slick-next {
    right: 0;
  }
  .slick-prev {
    left: -5px;
  }

}
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }

  .fixed-header .navbar-toggle {
    margin-right: 0px;
    border-color: #FFF;
  }

  .fixed-header .navbar-toggle .icon-bar {
    background-color: #252525;
  }

  #loader-wrapper {
    background: url(../../images/icon.png) #FFF no-repeat center center;
  }

  #loader-wrapper .loader-section.section-left {
    background: none;
  }

  #loader {
    top: 35%;
  }

  #loader-wrapper .loader-section.section-right {
    background: none;
  }

  .navbar {
    padding: 0px 50px;
  }

  .processes-icons span {
    margin: 15px;
  }

  .am-expanded.am-modal {
    left: 0;
    width: 100%;
  }

  .customer-review {
    left: 0% !important;
  }

  #main-slider .slide-photos a.reg-2,
  #main-slider .slide-photos a.reg-3,
  #main-slider .slide-photos a {
    top: 64%;
    right: 18%;
  }

  .fixed-header .navbar-nav .dropdown > a {
    padding: 12px 6px;
  }
  #home-featured {
    background-position: center;
  }
  #truejuice-usp img{
    width: 100%;
  }
  .stories {
    max-width: 500px;
  }
  #community .community-block ul {
    padding: 5px;
  }
  #community .community-block ul li {
    width: 25%;
    padding: 5px 0px;
    text-align: center;
  }
  .slick-next {
    right: 0;
  }

  .slick-prev {
    left: -5px;
  }
  .usp-area {
    background-position: 13%;
  }
  .usp-area .heading {
    left: 12%;
    top: 12%;
  }
  #programs .program-wrap {
    min-height: 350px;
  }
  #community .community-block ul li a {
    width: 230px;
    height: 230px;
  }

}

@media only screen
and (min-device-width: 1361px)
and (max-device-width: 1440px) {
  #main-slider .slide-photos a.reg-2,
  #main-slider .slide-photos a.reg-3,
  #main-slider .slide-photos a {
    top: 68%;
    right: 22%;
  }
}

@media only screen
and (min-device-width: 1441px)
and (max-device-width: 1600px) {
  #main-slider .slide-photos a.reg-2,
  #main-slider .slide-photos a.reg-3,
  #main-slider .slide-photos a {
    top: 69%;
    right: 360px;
  }

  #juice-programs ul .program-wrap {
    min-height: 530px;
  }

  #community .community-block ul li a {
    width: 230px;
    height: 230px;
  }

  #our-story .stories .st1 {
    width: 230px;
    height: 395px;
  }

  #our-story .stories .st1 {
    width: 230px;
    height: 395px;
  }

  #our-story .stories .st1 {
    width: 230px;
    height: 395px;
  }

  #our-story .stories .st2 {
    width: 330px;
    height: 200px;
  }

  #our-story .stories .st3 {
    width: 235px;
    height: 295px;
  }
}

@media only screen
and (min-width: 1601px)
and (max-width: 1920px) {
  html, body {
    font-size: 16px;
  }
  h2 {font-size: 40px}

  #main-slider .slide-photos a.reg-2,
  #main-slider .slide-photos a.reg-3,
  #main-slider .slide-photos a {
    top: 72%;
    right: 425px;
  }

  #programs .program-wrap .title {
    font-size: 32px;
    line-height: 42px;
  }

  #programs .program-wrap .desc {
    font-size: 16px;
  }

  #programs .program-wrap {
    min-height: 700px;
    padding: 50px;
  }

  #home-featured {
      height: 450px;
      padding: 265px 0px 30px;
  }

  #brand-usp {
    height: 290px;
  }

  #brand-usp p {
    margin-bottom: 15px;
  }

  #brand-usp .brand-usp-text {
    padding: 50px 150px 0px;
  }

  .usp-area {
    margin: 20px 0;
    background-position: center;
  }

  #our-story .stories .st1 {
    width: 270px;
    height: 460px;
  }

  #our-story .stories .st2 {
    width: 400px;
    height: 245px;
  }

  #our-story .stories .st3 {
    width: 250px;
    height: 320px;
  }

  #juice-daily .juice-daily-slides .photo-1, #juice-daily .juice-daily-slides .photo-2, #juice-daily .juice-daily-slides .photo-3 {
    min-height: 730px;
  }

  #green-juice .green-juice-slides .ps,
  .juice-cleanse .juice-cleanse-slides .ps {
    min-height: 850px;
  }

  #community .community-block ul li a {
    width: 295px;
    height: 295px;
  }

  #call-to-action .block {
    width: 450px;
  }

  .header-wrap {
    height: 790px;
  }
  .header-content {
    width: 500px;
    top: 250px;
    left: 250px;
  }
  .header-content h1 {
    font-size: 48px;
    line-height: 60px;
  }
  .celery-pack {
    height: 450px;
  }

  /**Our Story Page**/
  .highlight-block-1 {
    /*background: #EFEFEF;*/
    padding: 80px 0px;
  }
  .highlight-block-1 h1 {
      font-family: 'Roboto';
      font-weight: 900;
  }

  .highlight-block-1 h1.bolder {
      font-size: 96px;
  }
  .highlight-block-1 h1.light {
      font-size: 48px;
  }
  .highlight-block-1 h3 {
      font-weight: normal;
      font-size: 24px;
      color: #8FCB24;
  }
  .highlight-block-1 p {
      font-size: 22px;
      margin-top: 15px;
      line-height: 32px;
  }

  .highlight-subject {
      font-size: 32px;
      color: #8FCB24;
      margin: 20px 0px 35px;
      line-height: 48px;
  }
  .photo-story-block {
      height: 775px;
  }
  .project-cover {
    height: 480px;
  }
  .home-our-story-bg {
    padding: 235px 255px;
  }
  #our-story .stories {
    width: 720px;
    height: 630px;
  }
  .usp-area {
    background-position: 70%;
  }
  .usp-area .heading {
    left: 18%;
    top: 12%;
  }

  /**Green Juice page **/
  #green-juice .green-bl-4,
  #green-juice .green-bl-4-price {
    height: 640px;
  }
  #green-juice .green-bl-4-price {
    padding: 100px 40px 30px 80px;
  }

  .green-problem {
    width: 1360px;
    margin: 0 auto;
    display: block;
  }

}

@media only screen and (max-width: 1695px) {
  #our-story .our-story-bg {
    padding: 35px;
  }
}

@media only screen and (max-width: 375px) {
  #our-story .our-story-bg {
    padding: 15px;
  }
}

@media only screen and (min-width: 992px) {
  .modal-lg {
    width: 990px;
  }
}

@media only screen and (max-width: 992px) {
  .modal-lg {
    width: auto;
  }

  #our-story-modal .modal-body {
    padding: 1% 9% 4%;
  }
}

@media only screen and (max-width: 736px) {
  #our-story-modal .modal-body {
    padding: 1% 4% 4%;
  }
}

@media only screen and (max-width: 568px) {
  #our-story-modal .modal-body .truejuice-title {
    padding: 0;
  }
}

@media only screen
and (min-width: 1921px)
and (max-width: 2560px) {
  .usp-area {
    background-position: center;
  }
  .usp-area .heading {
    left: 23%;
  }
  #programs .program-wrap{
    min-height: 880px;
    line-height: 130%;
    font-size: 150%;
  }
  #programs .program-wrap .title {
    font-size: 130%;
    line-height: 130%;
  }
}

@media only screen
and (min-width: 2561px)
and (max-width: 3000px) {
  .usp-area {
    background-position: center;
  }
  .usp-area .heading {
    left: 26%;
  }
  #programs .program-wrap{
    min-height: 950px;
    line-height: 150%;
    font-size: 200%;
  }
  #programs .program-wrap .title {
    font-size: 150%;
    line-height: 130%;
  }

}