// - Font sizes (px)

// 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44

// 52 / 62 / 74 / 86 / 98

// - Spacing system (px)

// 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 120

$color-primary: #78e08f;
$color-primary-light: #a5efb5;
$color-primary-light-1: #cbf3d4;
$color-primary-light-2: #a1eab1;
$color-primary-dark: #53cd6e;

$color-grey-light-1: #f4fdf6; // Primary color base
$color-grey-light-2: #fff9f3; // Secondary color base (#ffd6af)

$text-color: #555;
$text-color-white: #eee;

$font-display: "Roboto", sans-serif;
$font-primary: "Playfair Display", serif;

$section-space: 12rem;
$section-padding: 4.8rem;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;

  @include respond(1000) {
    font-size: 56.25%;
  }
}

body {
  font-size: 1.6rem;
  color: $text-color;
  font-family: $font-display;
  font-weight: 400;
  line-height: 1.8;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: $section-space $section-padding;

  @include respond(1200) {
    padding: 8rem $section-padding;
  }

  @include respond(1000) {
    padding: 8rem $section-padding;
  }

  @include respond(1000) {
    padding: 6rem $section-padding;
  }
}

// Heading - Paragraph

.heading-primary {
  font-size: 6rem;
  font-family: $font-primary;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 3px;
  text-transform: uppercase;

  @include respond(900) {
    font-size: 4.8rem;
  }
}

.heading-secondary {
  font-family: $font-primary;
  font-weight: 400;
  line-height: 1.6;
  font-size: 3.2rem;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    height: 1px;
    background-color: $color-primary;
  }
}

.heading-tertiary {
  font-size: 2.8rem;
}

.paragraph {
  &:not(:last-child) {
    margin-bottom: 1.2rem;
  }

  @include respond(1000) {
    font-size: 1.5rem;
  }
}

// Button

.btn:link,
.btn:visited {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 0.8rem 1.8rem;
  border-radius: 2px;
  transition: all 0.2s;

  @include respond(900) {
    padding: 0.6rem 1.6rem;
  }
}

.btn.btn--sub {
  border: 2px solid $color-primary;
  display: flex;
  align-items: center;

  &:hover {
    background-color: $color-primary-dark;
    border: 2px solid $color-primary-dark;
    color: $text-color-white;
  }
}

.btn.btn--primary {
  background-color: $color-primary;
  color: #fff;

  &:hover {
    background-color: $color-primary-light-2;
  }
}

.btn.btn--plans {
  background-color: $color-primary-dark;
  color: #fff;
  padding: 1.2rem 4.2rem;
  position: relative;
  transition: all 0.3s ease-in;

  span {
    display: block;
    transition: all 0.2s 0.1s ease-in;
  }

  &::after {
    content: "Sống khỏe ngay hôm nay!";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20rem;
    text-align: center;
    opacity: 0;
    transition: all 0.2s 0.1s ease-in;
  }

  &:hover {
    padding: 1.2rem 8rem;
  }

  &:hover span {
    opacity: 0;
  }

  &:hover::after {
    opacity: 1;
  }
}

// Link

.small-link {
  &:link,
  &:visited {
    display: inline-block;
    padding: 0 0.5rem;
    line-height: 1.6;
    align-self: flex-end;
    text-decoration: none;
    color: $color-primary;
    border-bottom: 1px solid $color-primary;
    transition: all 0.2s;

    @include respond(1000) {
      font-size: 1.4rem;
    }
  }

  &:hover,
  &:active {
    transform: translateY(-3px);
    color: #fff;
    background-color: $color-primary;
  }
}

///////////////////////////////
// UTILITIES

// Hidden
.hidden {
  display: hidden;
}

.visible {
  display: block;
}

// Margin
.margin-r-sm {
  margin-right: 1.6rem;
}

.margin-b-sm {
  margin-bottom: 1.2rem;
}

.margin-b-md {
  margin-bottom: 3.6rem;
}

.margin-b-big {
  margin-bottom: 9rem;

  @include respond(1000) {
    margin-bottom: 6.4rem;
  }
}

// Text
.center-text {
  text-align: center;
}

///////////////////////////////
// ANIMATION

@keyframes appear {
  0% {
    transform: translateY(10%);
    opacity: 0.6;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
