.header-navigation {
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 3px rgba(#000, 0.1);
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.logo {
  &__link {
    margin-right: auto;
  }

  &__img {
    width: 20rem;
    height: auto;
    margin-left: 2.4rem;
  }
}

.nav {
  &__list {
    list-style: none;
    display: flex;
    margin-right: 1.2rem;
  }

  &__item {
    position: relative;
  }

  &__item:hover &__sub-list {
    opacity: 1;
    pointer-events: visible;
    visibility: visible;
  }

  &__link {
    &:link,
    &:visited {
      position: relative;
      display: inline-block;
      text-decoration: none;
      color: inherit;
      font-size: 1.6rem;
      text-transform: uppercase;
      padding: 1rem 3rem;
      margin: 1.2rem 0;
      border-radius: 3px;

      transition: all 0.2s;
    }

    &::after {
      content: "";
      width: 0;
      height: 2px;
      background-color: $color-primary-dark;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      transition: all 0.2s;
    }
  }

  &__link:hover {
    color: $color-primary-dark;
    transform: translateY(-3px);
  }

  &__link:hover::after {
    transform: translateY(3px);
    width: 70%;
    left: 15%;
  }

  &__sub-list {
    list-style: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 21rem;
    transform: translateY(100%);
    box-shadow: 0 1px 3px 1px rgba(#000, 0.1);
    transition: all 0.2s;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  &__sub-link {
    &:link,
    &:visited {
      display: block;
      background-color: #fff;
      text-decoration: none;
      text-transform: capitalize;
      color: inherit;
      line-height: 1;
      padding: 1.2rem 0 1.2rem 2.4rem;
      transition: all 0.2s;
    }

    &:hover,
    &:active {
      color: $color-primary;
      background-color: $color-grey-light-1;
    }
  }
}

.v-border {
  height: 50px;
  width: 2px;
  background-color: $color-primary;
  margin-right: 3.2rem;
}

.login-box {
  margin-right: 2.4rem;
  display: flex;
}

// Hero

.hero {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: bottom;
  color: $text-color-white;

  &__container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 18rem 0 12rem;
  }

  &__description {
    font-size: 2rem;
    letter-spacing: 0.8px;
  }

  &__cta {
    margin-top: 10rem;
    display: flex;
    font-size: 1.6rem;
  }
}
