*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-size: 1.6rem;
  color: #555;
  font-family: "Lato", sans-serif;
  font-weight: 400; }

.heading-primary {
  font-size: 6rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 3px; }

.btn:link,
.btn:visited {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 0.8rem 1.4rem;
  border-radius: 2px;
  transition: all 0.2s; }

.btn--sub {
  border: 2px solid #78e08f; }

.btn--primary {
  background-color: #78e08f; }

.btn--sub:hover {
  background-color: #53cd6e;
  border: 2px solid #53cd6e;
  color: #fff; }

.btn--primary:hover {
  background-color: #53cd6e; }

.btn.btn--plans {
  background-color: #53cd6e;
  padding: 1.2rem 2.4rem; }

.btn.btn--plans:hover {
  padding: 1.2rem 3.6rem; }

.margin-r-sm {
  margin-right: 1.6rem; }

.margin-b-lg {
  margin-bottom: 3.6rem; }

.header-navigation {
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }

.logo__link {
  margin-right: auto; }

.logo__img {
  width: 20rem;
  height: auto;
  margin-left: 2.4rem; }

.nav__list {
  list-style: none;
  display: flex;
  margin-right: 1.2rem; }

.nav__link:link, .nav__link:visited {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 1rem 3rem;
  margin: 1.2rem 0;
  border-radius: 3px;
  transition: all 0.2s; }

.nav__link::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #53cd6e;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.2s; }

.nav__link:hover {
  color: #53cd6e;
  transform: translateY(-3px); }

.nav__link:hover::after {
  transform: translateY(3px);
  width: 70%;
  left: 15%; }

.v-border {
  height: 50px;
  width: 2px;
  background-color: #78e08f;
  margin-right: 3.2rem; }

.login-box {
  margin-right: 2.4rem;
  display: flex; }

.hero {
  height: calc(100vh - 64px);
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../img/hero.jpg);
  background-size: cover;
  background-position: bottom;
  color: #fff; }
  .hero__container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 12rem 0; }
  .hero__description {
    font-size: 2rem;
    letter-spacing: 0.8px; }
  .hero__cta {
    margin-top: 10rem;
    display: flex;
    font-size: 1.6rem; }
